.container {
    margin-top: 30px;
  }
  
  input.ng-invalid.ng-touched {
    border: 1px solid red;
  }

  

  .border {
    width: 268px;
    height: 5px;
    background: #6ab04c;
    margin: -4px auto;
}

.tit {
  margin-top: 50px;
  margin-bottom: 22px;
  text-align: center;
  margin-left: 20px;
  font-size: 26px;
}

 